﻿@using Microsoft.AspNetCore.Identity
@using Photographers.Models
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">สวัสดี @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</a>
            </li>
            <li>
                <a href="/NewPhotographers"> เเนะนำช่างภาพ </a>
            </li>

            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">ลงทะเบียน</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">เข้าสู่ระบบ </a></li>
    </ul>
}
