﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<body style="background-color:#FFCCCC">
  <div class="container" >
    <div class ="jumbotron" style="background-color:#E098AE">
			<Font face="AngsanaUPC"><center>
			<h1 style="color:#FFFFFF"><b> สนใจอยากโปรโมทตัวเองกับพวกเราไหม? </b></h1>
			<h3 style="color:#FFFFFF"> มารวมโปรโมทความเป็นตัวเองให้ทุกคนได้รู้จักที่นี้ </h3>
			</center></Font>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-12">	
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">	
		<Font face="AngsanaUPC"><center>
		<h1 style="color:#FFFFFF"> ทำไมต้อง Photographers ? </h1><br>
		</center></Font>
		</div>
	<div class="row">
		<div class="col-sm-2">	
		<center> <img src="~/images/photo1.png" width=600 height=400></center>
		</div>
	</div>

	

	<div class="row">
		<div class="col-sm-2">	</div>
		<div class="col-sm-2">	</div>
		<div class="col-sm-2">	
		<center> <img src="~/images/photo2.png" width=600 height=400></center>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-2">	</div>
		<div class="col-sm-2">	</div>
		<div class="col-sm-2">	</div>
		<div class="col-sm-2">	</div>
		<div class="col-sm-2">	
		<center> <img src="~/images/photo3.png" width=600 height=400></center>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">	
	<center><a href="/NewPhotographers"> สนใจมาโปรโมทกับเรา </a></center>
		</div>
	</div>
</body>