﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<body style="background-color:#FFCCCC">
<h2>@ViewData["Title"]</h2>
<h3>ช่องทางติดต่อพวกเรา</h3>

<address>
    นางสาวนูรูลมุมีนะห์ เจ๊ะเด็ง<br />
    นางสาวปัทมวรรณ ชูสุวรรณ<br />
    นักศึกษาภาควิชาวิทยาการคอมพิวเตอร์ <br />
</address>

<address>
    <strong>Gmail:</strong> <a href="6110210235@psu.ac.th">6110210235@psu.ac.th</a><br />
    <strong>Gmail:</strong> <a href="6110210256@psu.ac.th">6110210235@psu.ac.th</a>
</address>
</body>