﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background-color:#FFCCCC">
    <div class="container" >
    <div class ="jumbotron" style="background-color:#E098AE">
	<Font face="AngsanaUPC">
        <center> <h1 style="color:#FFFFFF"> คุณกำลังมองหาช่างภาพอยู่ใช่ใหม่ ? </h1></center>
        <center> <h2 style="color:#FFFFFF"> แหล่งรวมช่างภาพ จากรั้ว ม.อ. หาดใหญ่ </h2></center></Font>
    </div></div>

  @foreach (var item in Model.Photo) {
      <div class="row">
	<div class="col-sm-6">
	    <center>
		<img src="~/images/@item.PicPhoto" width=300 height=300 >
	    </center>
	</div>
	<div class="col-sm-6">
		<h4> ชื่อเล่น : @item.ShotName </h4>
		<h4> ชื่อ-สกุล : @item.fullName </h4>
		<h4> อาชีพ : @item.occupationID </h4>
		<h4> เพศ : @item.Gender </h4>
		<h4> โทร @item.Tell </h4>
		<h4> ติดต่อ : <a href="@item.Facebook">@item.Facebook</a> </h4>
	</div>
      </div>

	<div class="row">
	   <div class="col-sm-3">
	      <center>
		<br><h4><b>ตัวอย่างผลงาน </b></h4>
	      </center>
	   </div>
	   <div class="col-sm-9">
		<br><img src="~/images/@item.ExamplePhoto" width=600 height=400>
	   </div>
	</div>

	<div class="row">
	   <div class="col-sm-3">
	      <center>
		<br><h4><b> คำแนะนำและรีวิว </b></h4>
	      </center>
	   </div>
	   <div class="col-sm-9">
		<br><img src="~/images/@item.ReviewPhotographer" width=600 height=135>
		
	   </div>
	</div>

	<div class="row">
	   <div class="col-sm-12">
		<left>
		   <h4> อัปเดตล่าสุด @item.UpdateDate </h4>
		</left>
		<br><hr><br>
	   </div>
	</div>    
}
</body>
 