﻿@page
@model Photographers.Pages.NewPhotographers.DeleteModel

@{
    ViewData["Title"] = "ลบข้อมูล";
}
<body style="background-color:#FFCCCC">
<h2>ลบข้อมูล</h2>

<h3>คุณเต้องการลบข้อมูลช่างภาพใช่ไหม?</h3>
<div>
    <h4>รายละเอียดดังนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            รูปช่างภาพ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.PicPhoto)
        </dd>
        <dt>
            ชื่อเล่น
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.ShotName)
        </dd>
        <dt>
            ชื่อจริง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.fullName)
        </dd>
        <dt>
            อาชีพ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.occupationID)
        </dd>
        <dt>
            เพศ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.Gender)
        </dd>
        <dt>
            โทร
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.Tell)
        </dd>
        <dt>
            Facebook
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.Facebook)
        </dd>
        <dt>
            ตัวอย่างผลงาน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.ExamplePhoto)
        </dd>
        <dt>
            รีวิว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.ReviewPhotographer)
        </dd>
        <dt>
            วันที่อัปเดตข้อมูล
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.UpdateDate)
        </dd>
        
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Photo.PhotoID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
</body>