﻿@page
@model Photographers.Pages.NewPhotographers.DetailsModel

@{
    ViewData["Title"] = "ข้อมูลช่างภาพ";
}
<body style="background-color:#FFCCCC">
<h2>ข้อมูลข่างภาพ</h2>

<div>
    <h4>รายละเอียดดังนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            รูปช่างภาพ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.PicPhoto)
        </dd>
        <dt>
            ชื่อเล่น
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.ShotName)
        </dd>
        <dt>
            ชื่อ - สกุล
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.fullName)
        </dd>
        <dt>
            อาชีพ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.occupationID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.Gender)
        </dd>
        <dt>
            โทร
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.Tell)
        </dd>
        <dt>
            Facebook
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.Facebook)
        </dd>
        <dt>
            ตัวอย่างผลงาน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.ExamplePhoto)
        </dd>
        <dt>
            รีวิว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.ReviewPhotographer)
        </dd>
        <dt>
            วันที่อัปเดตข้อมูล
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo.UpdateDate)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Photo.PhotoID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>