﻿@page
@model Photographers.Pages.NewPhotographers.EditModel

@{
    ViewData["Title"] = "เเก้ไขข้อมูล";
}
<body style="background-color:#FFCCCC">
<h2>เเก้ไขข้อมูล</h2>

<h4>กรอกรายละเอียดดังนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Photo.PhotoID" />
            <div class="form-group">
                รูปช่างภาพ
                <input asp-for="Photo.PicPhoto" class="form-control" />
                <span asp-validation-for="Photo.PicPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อเล่น
                <input asp-for="Photo.ShotName" class="form-control" />
                <span asp-validation-for="Photo.ShotName" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อจริง
                <input asp-for="Photo.fullName" class="form-control" />
                <span asp-validation-for="Photo.fullName" class="text-danger"></span>
            </div>
            <div class="form-group">
               อาชีพ
                <input asp-for="Photo.occupationID" class="form-control" />
                <span asp-validation-for="Photo.occupationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                เพศ
                 <select  asp-for="Photo.Gender" class="form-control" >
                    <option value="male">ชาย</option>
                    <option value="female">หญิง</option>
                </select>
                <span asp-validation-for="Photo.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                โทร
                <input asp-for="Photo.Tell" class="form-control" />
                <span asp-validation-for="Photo.Tell" class="text-danger"></span>
            </div>
            <div class="form-group">
                Facebook
                <input asp-for="Photo.Facebook" class="form-control" />
                <span asp-validation-for="Photo.Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                ตัวอย่างผลงาน
                <input asp-for="Photo.ExamplePhoto" class="form-control" />
                <span asp-validation-for="Photo.ExamplePhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
               รีวิว
                <input asp-for="Photo.ReviewPhotographer" class="form-control" />
                <span asp-validation-for="Photo.ReviewPhotographer" class="text-danger"></span>
            </div>
            <div class="form-group">
                วันที่อัปเดตข้อมูล
                <input asp-for="Photo.UpdateDate" class="form-control" />
                <span asp-validation-for="Photo.UpdateDate" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>