﻿@page
@model Photographers.Pages.NewPhotographers.IndexModel

@{
    ViewData["Title"] = "เเนะนำช่างภาพ";
}
<body style="background-color:#FFCCCC">
<h2>เเนะนำช่างภาพ</h2>

<p>
    <a asp-page="Create">สร้างข้อมูลช่างภาพ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                รูปช่างภาพ
            </th>
            <th>
                ชื่อเล่น
            </th>
            <th>
                ชื่อ - สกุล
            </th>
            <th>
                อาชีพ
            </th>
            <th>
                เพศ
            </th>
            <th>
                โทร
            </th>
            <th>
                Facebook
            </th>
            <th>
                ตัวอย่างผลงาน
            </th>
            <th>
                รีวิว
            </th>
            <th>
                วันที่อัปเดตข้อมูล
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.Photo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PicPhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShotName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.occupationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamplePhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewPhotographer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
           
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PhotoID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PhotoID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PhotoID">Delete</a>
            </td>
          
        </tr>
}
    </tbody>
</table>
</body>